<div>
    <button ui-sref="home.all" ui-sref-active="active">All Categories</button>

    <button ui-sref="home.category({category: category})"
            ui-sref-active="active"
            ng-repeat="category in categories">
        {{ category }}
    </button>
    <button ng-click="cheatFilter()">Cheat
    </button>

    <div ng-show="error">
        <h2>Failed to get the cards!</h2>
        <pre>HTTP status: {{error.status}}</pre>
    </div>
    <loader ng-hide="loaded || error"></loader>

    <ui-view><div class="welcome"><h1>Choose your category!</h1></div></ui-view>

</div>